---
import { getCollection } from 'astro:content';
const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<div class="blog-posts">
  {posts.map((post) => (
    <article>
      <img src={post.data.image} alt={post.data.title} />
      <a href={`/post/${post.slug}`}>{post.data.title}</a>
      <div class="tags-date">
        <span class="tag-post">{post.data.tag}</span>
        <div class="date-post">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><g fill="none"><rect width="18" height="15" x="3" y="6" stroke="currentColor" stroke-width="2" rx="2"/><path fill="currentColor" d="M3 10c0-1.886 0-2.828.586-3.414S5.114 6 7 6h10c1.886 0 2.828 0 3.414.586S21 8.114 21 10z"/><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M7 3v3m10-3v3"/></g></svg>
            <span>{new Date(post.data.pubDate).toLocaleDateString('es-MX', { year: 'numeric', month: 'short', day: 'numeric' })}</span>
        </div>
      </div>
      <p>{post.data.description}</p>
    </article>
  ))}
</div>

<style>
    .blog-posts{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-posts .tags-date{
        display: flex;
        justify-content: space-around;
        padding: 0 12px;
        font-family: "Archivo Narrow", sans-serif;
        font-size: 1rem;
        color: #888;
        margin-top: 0.9rem;
        & .tag-post{
            background-color: black;
            color: white;
            padding: 5px 10px;
            display: inline-block;
            margin-right: 20px;
        }
        & .date-post{
            display: flex;
            align-items: center;
            background-color: rgb(44, 146, 172);
            padding: 0 10px;
            color: white;
            & span{
                padding-left: 5px;
            }
        }
    }

    .blog-posts article{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-posts article img{
        width: 300px;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
    }
    .blog-posts article a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.2rem;
        display: block;
        margin-top: 0.7rem;
        padding: 0 12px;
        transition: all 0.3s ease;
    }

    .blog-posts article a:hover{
        color: white;
        background-color: black;
    }

    .blog-posts article p{
        padding: 0 12px;
        text-align: center;
        color: #555;
        font-family: "Open Sans", sans-serif;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
</style>